[submodule "samples/zynqmp_rpu_hello/pac"]
	path = pac
	url = https://github.com/ryuz/pudding-pac.git
[submodule "samples/zynqmp_rpu_hello/kernel"]
	path = kernel
	url = https://github.com/ryuz/pudding-kernel.git
